div, h1, h3 {
  color: #e5e5e5 !important;

}

p {
  color: #e5e5e5 !important;
}

.custom-card {
  background-color: #161616;
  transition: .3s;
  border-radius: 10px;

}

.custom-card:hover {
  box-shadow: 1px 1px 5px #303030;
}

.custom-card h3 {
  display: flex;
}
