@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Inter", sans-serif;
  }

  body {
    @apply min-h-screen bg-gray-50 dark:bg-slate-900 transition-colors duration-200;
  }

  html {
    @apply scroll-smooth;
  }
}
